*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Data Files #
*.html
*.xls
*.xlsx
*.XLS
*.XLSX
*.nxml
*.zip
*.owl
jatsSpec*
files*
tables*
papers*
annotationLogs*
classifierLogs*
.git-rewrite*
.settings*


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/target/
/paperText.txt
/uniprot-taxonomy%3A-Mammalia+%5B40674%5D-.tab
/words.txt
