*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Data Files #
*.html
*.xls
*.xlsx
*.XLS
*.XLSX
*.nxml
jatsSpec*
files*
tables*
papers*
annotationLogs*


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*